html {
      /* font-weight: 700px; */
}
h1{
    border: 2px solid black;
    display:inline-flex;
    font-family: "Old Standard TT", serif;
    text-transform:uppercase;
    
    
}
h2{
    font-size:100px;
    font-family: "Old Standard TT", serif;
    text-align:center;
    /* font-size:50px; */
}

header p{
    
    font-size:40px;
    /* display:block; */
    /* position:justify; */
    text-align:center;
    font-style: bold;
    width: 100%;
    margin: 0;
    padding-bottom:10px;
    
}
 body p{
    column-count:3;
    /* block-size: auto; */
    position: static;
    /* display:table-cell; */
    text-align:center;
    /* vertical-align: middle; */
    /* font-family: "Old Standard TT", serif; */
    /* text-align: left; */
    /* height:100%; */
    /* font-size: 18px; */
    
}
h4{
    font-family: "Old Standard TT", serif;
    text-transform:uppercase;
    font-size:30px;
    
}