@charset "utf-8";
html {
	box-sizing: border-box;
}
	*, *::before, *::after {
	box-sizing: inherit;
}
html{
    display: grid;
    /*image credit to chat gpt, just had it strip the words on the album cover and tried to make it match the best i could */
    background:url("../imgs/ADTR.png"
    ) no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    /* this font family is one tha ti thought resembled the font on the album cover the closest */
    font-family: 'Oswald', sans-serif;
}
main{
    grid-area:section;
    display:flex;
    padding:2rem;
    background-color:hsla(0, 0%, 100%, 0.691);

    
}
body{
    /*Where i had to set my grid template areas to get them to work, threw in a background color and set a font family to make it more readable */
    grid-template-areas:
		"header header header"
		"section section section"
		"aside aside aside"
		"footer footer footer";
    grid-area: body;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Source Serif 4' , serif;
    /* background-color: #111; */
    color: rgb(10, 0, 0);
    line-height: 1.6;
    padding: 2rem;
    font-weight:300;
}
h1, h2 {
    /* used this selector to get the h1 and h2 where they would be on the album cover */
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
header{
    /*used grid area to get the header to be where it is on the album cover, and added a background color to make it more readable */
    grid-area: header;
    justify-content:center;
    background-color:hsla(0, 0%, 100%, 0.691);
    width:100%
}
section h3{
    color: black;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}
aside{
    /*gave the aside its own grid to make the lyrics have more room to breathe */
    background-color:hsla(0, 0%, 100%, 0.691);

    grid-area:aside;
    text-align:center;

}
footer{
    /* just a basic footer with credits for lyrics and the google font */
    background-color:hsla(0, 0%, 100%, 0.691);
    grid-area:footer;
    text-align:center;
}   